.todos {
  width: calc(100vw - 20rem);
  background-color: #333;
  color: white;
  padding: 0.5rem;
  border-radius: 0.6rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 700px) {
  .todos {
    width: calc(100vw - 5rem);
  }
}
