.todo_body {
  background-color: #222;
  margin: 0.5rem;
  border-radius: 0.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 0.8rem;
}

.todo_body:hover {
  background-color: #111;
}

.todo_body p {
  opacity: 0.6;
}

.btn {
  border: none;
  background-color: transparent;
  color: red;
  cursor: pointer;
}

.btn:hover {
  background-color: #444;
  padding: 5px 8px;
  border-radius: 5px;
}
